/* 
some color values to play with from the original osu website
#303030 
#2A2226
#46393Fb
*/

:root {
    --background: #46393F;
    --header-background: #8d3355;
    --input-field-background: #786666;
    --label-color: hsl(334, 40%, 90%);
}

.triangle-container {
    background-color: rgba(70, 57, 63, 0.5);
    height: 19em;
}

body {
    font-family: "Exo 2", Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 30em;
    height: 19em;
    border: 2px white solid;
    background-image: url(../images/Triangles.png);
}

.content-container {
    padding: 1em;
}

.mode-selector,
.calculator {
    display: flex;
}

.calculator {
    margin-top: 2em;
    gap: 1em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #f0f0f0;
}

input[type="text"] {
    width: 10em;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--input-field-background);
    color: #f0f0f0;
    font-size: 14px;
}

input[type="text"] {
    transition: all 0.3s ease-in-out;
}

.header {
    font-size: 1.8em;
    height: 2em;
    color: #ffffff;
    text-align: center;
    background: var(--header-background);
    align-content: center;
    box-shadow: black 0px 0px 3px 0px;
    margin-bottom: 0.5em;
}

#expectedPlaytimeForGoalpp {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border: 1px dashed #444444;
    border-radius: 10px;
    background-color: #2a2a2a;
    font-size: 14px;
    color: #ffffff;
}

input[type="text"]:hover,
input[type="text"]:focus {
    outline: none;
    background-color: #917c7c;
}


/* Tooltip */
.tooltip {
    position: absolute;
    display: inline-block;
    font-size: 0.6em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;
}

.tooltip.tooltip-playtime {
    top: 35.5%;
    right: 69.3%;
}

.tooltip.tooltip-goalpp {
    top: 35.5%;
    right: 36%;
}

.tooltip.tooltip-playtime>.tooltiptext {
    align-content: center;
}

.tooltip.tooltip-goalpp>.tooltiptext {
    height: 2em;
    width: 15.8em;
    align-content: center;
}

.tooltip .tooltiptext {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 0.5em 0 1em 0em;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 1.4em;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 4em;
    width: 15em;
}


.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

label.goalpp-label {
    width: 5em;
}

label.playtime-label {
    width: 10em;
}

label:hover .tooltip {
    visibility: visible;
    opacity: 1;
}