/* 
some color values to play with from the original osu website
#303030 
#2A2226
#46393Fb
*/

:root {
    --background: #46393F;
    --header-background:#68263f;
    --input-field-background:#786666;
    --label-color:hsl(334, 40%, 90%);
}

body {
    font-family: "Exo 2", Arial, sans-serif; 
    margin:0;
    padding:0;
    width: 30em;
    height: 20em;
    border:2px white solid;
    background-color: var(--background);
}

.popup-container{
    padding: 1em;
}

.mode-selector, .calculator{
    display: flex;
}

.calculator{
    margin-top:2em;
    gap: 1em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #f0f0f0;
}

input[type="text"] {
    width: 10em;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--input-field-background); 
    color: #f0f0f0;
    font-size: 14px;
}

input[type="text"] {
    transition: all 0.3s ease-in-out;
}

.header {
    font-size: 1.8em;
    height: 2em;
    color: #ffffff;
    text-align: center;
    background: var(--header-background);
    align-content: center;
    box-shadow: black 0px 0px 3px 0px;
    margin-bottom:0.5em;
}

#expectedPlaytimeForGoalpp {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border: 1px dashed #444444;
    border-radius: 10px;
    background-color: #2a2a2a;
    font-size: 14px;
    color: #ffffff;
}

input[type="text"]:hover, input[type="text"]:focus {
    outline: none;
    background-color: #917c7c;
}

.mode-selector select {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    border: var(--background) 1px solid;
    border-radius: 10px;
    background-color: var(--input-field-background); 
    color: #ffffff;
    position: absolute;
    right: 1.5em;
    top: 4.1em;
}

.mode-selector select:focus {
    outline: none;
}

.mode-selector option {
    background-color: #2a2226;
    color: #ffffff;
}
